<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home Page</title>

</head>
<body>

    <header>
        <nav>
            <h3>Main nav</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form method="post" action="/users">
            <div>
                <label for="title">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <button type="submit"></button>
        </form>
        <section>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, laborum?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eum esse quisquam hic odio quam amet? Nesciunt accusamus quisquam tempore sit tempora nisi voluptatum dolorem, dolorum eligendi nam, architecto velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum harum ullam sunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae culpa fuga ut voluptates quae praesentium eligendi sint odit, ullam, dolorem numquam a. Recusandae.</p>
    </section>
    <aside>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti at tenetur numquam quisquam doloremque voluptates magni deleniti eum praesentium. Praesentium voluptate optio iusto.</p>
    </aside>
    </main>

    <footer>
        <h4>this is the footer</h4>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam repellat sed rem omnis voluptatem nulla facere minima quam quidem accusantium tenetur, et laboriosam exercitationem molestiae architecto magni enim ad laborum. Ex, sit.
    </footer>


</body>
</html>